.container {
    display: flex;
}

.columnMenu {
    flex: 1;
    width: 20%; /* 1/5 пространства */
}

.columnApp {
    flex: 4;
    width: 80%; /* 4/5 пространства */
    display: flex;
    flex-direction: column; /* Содержимое должно располагаться вертикально */
}